<a href="https://colab.research.google.com/github/wisrovi/visualizacion-cajamar/blob/main/Concurso_Cajamar_visualizacion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Este cuaderno contiene recetas para cargar y guardar datos procedentes de fuentes externas.

# Obtener los dataset de CAJAMAR

In [4]:
!git clone https://github.com/wisrovi/visualizacion-cajamar

fatal: destination path 'visualizacion-cajamar' already exists and is not an empty directory.

In [5]:
!ls 'visualizacion-cajamar/'

 Concurso_Cajamar_visualizacion_datos.ipynb
'Dataset1.- DatosConsumoAlimentarioMAPAporCCAA.txt'
'Dataset2.- Precios Semanales Observatorio de Precios Junta de Andalucia.txt'
 Dataset3a_Datos_MercaMadrid.txt
 Dataset3b_Datos_MercaBarna.txt
'Dataset4.- Comercio Exterior de Espa¤a.txt'
 Dataset5_Coronavirus_cases.txt
 LICENSE
 README.md

In [6]:
FOLDER_DATASET = 'visualizacion-cajamar/'

# Leer los dataset con pandas

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
d1 = pd.read_csv(FOLDER_DATASET + 'Dataset1.- DatosConsumoAlimentarioMAPAporCCAA.txt', sep='|', index_col=0)
print("size:", d1.size)
d1.head(100)

size: 292974

        Mes            CCAA  ... Unnamed: 10 Unnamed: 11
Año                          ...
2018  Enero  Total Nacional  ...         NaN         NaN
2018  Enero  Total Nacional  ...         NaN         NaN
2018  Enero  Total Nacional  ...         NaN         NaN
2018  Enero  Total Nacional  ...         NaN         NaN
2018  Enero  Total Nacional  ...         NaN         NaN
...     ...             ...  ...         ...         ...
2018  Enero        Baleares  ...         NaN         NaN
2018  Enero        Baleares  ...         NaN         NaN
2018  Enero        Baleares  ...         NaN         NaN
2018  Enero        Baleares  ...         NaN         NaN
2018  Enero        Baleares  ...         NaN         NaN

[100 rows x 11 columns]

In [10]:
d2 = pd.read_csv(FOLDER_DATASET + 'Dataset2.- Precios Semanales Observatorio de Precios Junta de Andalucia.txt', sep='|', index_col=0)
print("size:", d2.size)
d2.head(5)

size: 232884

                   FIN     GRUPO    SECTOR  ... FORMATO PRECIO    UNIDAD
INICIO                                      ...
01/01/2018  07/01/2018  Agrícola  Frutales  ...     NaN   0,92  Euros/kg
01/01/2018  07/01/2018  Agrícola  Frutales  ...     NaN   0,84  Euros/kg
01/01/2018  07/01/2018  Agrícola  Frutales  ...     NaN   0,78  Euros/kg
01/01/2018  07/01/2018  Agrícola  Frutales  ...     NaN   1,01  Euros/kg
01/01/2018  07/01/2018  Agrícola  Frutales  ...     NaN   3,77  Euros/kg

[5 rows x 12 columns]

In [11]:
d3_A = pd.read_csv(FOLDER_DATASET + 'Dataset3a_Datos_MercaMadrid.txt', sep='|', index_col=0)
print("size:", d3_A.size)
d3_A.head(5)

size: 673150

            variedad     origen Unidad  ... price_min  price_max  Volumen
product                                 ...
ACEITUNAS  ACEITUNAS    ALMERIA     kg  ...      3,31       3,61     6700
ACEITUNAS  ACEITUNAS    ALMERIA     kg  ...      3,31       3,61      400
ACEITUNAS  ACEITUNAS    ALMERIA     kg  ...      3,31       3,61      260
ACEITUNAS  ACEITUNAS    BADAJOZ     kg  ...      3,31       3,61    24060
ACEITUNAS  ACEITUNAS  BARCELONA     kg  ...         0          0     1000

[5 rows x 10 columns]

In [12]:
d3_B = pd.read_csv(FOLDER_DATASET + 'Dataset3a_Datos_MercaMadrid.txt', sep='|', index_col=0)
print("size:", d3_B.size)
d3_B.head(5)

size: 673150

            variedad     origen Unidad  ... price_min  price_max  Volumen
product                                 ...
ACEITUNAS  ACEITUNAS    ALMERIA     kg  ...      3,31       3,61     6700
ACEITUNAS  ACEITUNAS    ALMERIA     kg  ...      3,31       3,61      400
ACEITUNAS  ACEITUNAS    ALMERIA     kg  ...      3,31       3,61      260
ACEITUNAS  ACEITUNAS    BADAJOZ     kg  ...      3,31       3,61    24060
ACEITUNAS  ACEITUNAS  BARCELONA     kg  ...         0          0     1000

[5 rows x 10 columns]

In [13]:
d4 = pd.read_csv(FOLDER_DATASET + 'Dataset4.- Comercio Exterior de Espa¤a.txt', sep='|', index_col=0)
print("size:", d4.size)
d4.head(5)

size: 2165856

          REPORTER PARTNER  ...         INDICATORS Value
PERIOD                      ...
Jan. 2018  Austria      ES  ...     VALUE_IN_EUROS     :
Jan. 2018  Austria      ES  ...  QUANTITY_IN_100KG     :
Jan. 2018  Austria      ES  ...     VALUE_IN_EUROS     :
Jan. 2018  Austria      ES  ...  QUANTITY_IN_100KG     :
Feb. 2018  Austria      ES  ...     VALUE_IN_EUROS     :

[5 rows x 6 columns]

In [14]:
d5 = pd.read_csv(FOLDER_DATASET + 'Dataset5_Coronavirus_cases.txt', sep='|', index_col=0)
print("size:", d5.size)
d5.head(5)

size: 645590

            day  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
dateRep          ...
29/11/2020   29  ...                                          6,8451097
28/11/2020   28  ...                                         6,78464983
27/11/2020   27  ...                                         6,39560365
26/11/2020   26  ...                                         7,34193218
25/11/2020   25  ...                                          7,1999829

[5 rows x 11 columns]

# Histogramas

In [ ]:
data_d1 = d1['Volumen (miles de kg)']
plt.hist(data_d1)

In [ ]:
data_d1 = d1['Valor (miles de €)']
plt.hist(data_d1)

(array([3575., 2630., 2628., 2623., 2611., 2552., 2557., 2514., 2478.,
        2466.]),
 array([    0. ,  2449.8,  4899.6,  7349.4,  9799.2, 12249. , 14698.8,
        17148.6, 19598.4, 22048.2, 24498. ]),
 <a list of 10 Patch objects>)

# Limpio los datos